.row .col {
  padding: 2rem 1rem;
  float: left; }

.about__image-container img {
  max-width: 28rem;
  position: absolute;
  background-position: top; }

/* Animations */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-8rem); }
  80% {
    opacity: 0.8;
    transform: translateX(0.2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInUpwards {
  0% {
    opacity: 0;
    transform: translateY(4rem);
    /* transform: translateX(100px); */ }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(4rem);
    /* transform: translateX(100px); */ }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  90% {
    opacity: 0.9; }
  100% {
    opacity: 1; } }

@keyframes wiggle {
  0% {
    transform: rotate(0); }
  25% {
    transform: rotate(3deg); }
  50% {
    transform: rotate(-3deg); }
  75% {
    transform: rotate(1deg); }
  100% {
    transform: rotate(0); } }

@keyframes material_float {
  0% {
    transform: scale(100%);
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3); }
  50% {
    transform: scale(90%);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.45); }
  100% {
    transform: scale(100%);
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.3); } }

/* browser reset using the - universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*  10px */ }

/* Font-properties should be written in  */
body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  /* Line height 1.7 times larger than previously */
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: white;
  text-shadow: 0 0 2rem white;
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden;
  /* text-align: center; */ }
  .heading-primary--main {
    display: block;
    /*60px*/
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    text-shadow: 0 0 1.5rem white;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    transition: all 2s; }
  .heading-primary--main:hover {
    text-shadow: 0 0 20px rgba(68, 68, 68, 0.7); }
  .heading-primary--sub {
    display: block;
    font-size: 1.85rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    margin-right: 1rem;
    animation-name: fadeInUpwards;
    animation-duration: 1.3s;
    animation-timing-function: ease-out;
    animation-delay: 0.8s;
    animation-fill-mode: backwards;
    transition: all 1s; }
  .heading-primary--sub:hover {
    text-shadow: 0 0 1rem #444; }

.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.8));
  -webkit-background-clip: text;
  color: transparent;
  transition: all, 0.2s; }
  .heading-secondary:hover {
    transform: skew(0, 4deg);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.03rem;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.2rem;
  letter-spacing: 0.03rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2.45rem; }

.features__card-hero-caption {
  font-size: calc(1.6rem - 40%);
  font-weight: 700;
  letter-spacing: 0.3px; }

.features__card::after {
  font-size: calc(1.6rem - 20%);
  font-weight: 700; }

.card-practice {
  letter-spacing: .7px; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-10 {
  margin-bottom: 1rem; }

.u-margin-bottom-20 {
  margin-bottom: 2rem; }

.u-margin-bottom-40 {
  margin-bottom: 4rem; }

.u-margin-bottom-60 {
  margin-bottom: 6rem; }

.u-margin-bottom-80 {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.1s;
  position: relative;
  backface-visibility: hidden;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation-name: fadeIn, wiggle;
  animation-duration: 1.3s, 0.2s;
  animation-timing-function: ease-in;
  animation-delay: 2.3s, 3.5s;
  animation-fill-mode: backwards; }

.btn-secondary:link,
.btn-secondary:visited {
  font-size: 1.6rem;
  font-weight: 700;
  display: inline-block;
  color: #707070;
  padding: 0.5rem 0.2rem;
  margin: 1rem 0 0 -.3rem;
  text-decoration: none;
  position: relative;
  transition: all 0.2s; }
  .btn-secondary:link::after,
  .btn-secondary:visited::after {
    content: "";
    width: 100%;
    height: 5%;
    background-color: #7ed56f;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all 0.2s; }
  .btn-secondary:link:hover,
  .btn-secondary:visited:hover {
    background-color: #7ed56f;
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2); }
    .btn-secondary:link:hover::after,
    .btn-secondary:visited:hover::after {
      z-index: 0; }
  .btn-secondary:link:active,
  .btn-secondary:visited:active {
    transform: translateY(-1px);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); }

.text-block {
  padding: 0 3rem; }

.features__card {
  text-align: center;
  background-color: #fff;
  opacity: 0.7;
  min-width: 18rem;
  max-width: 21rem;
  height: 25rem;
  padding: 2.3rem;
  transition: all .6s;
  position: relative;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.275); }
  .features__card:hover {
    cursor: pointer;
    animation: wiggle .3s .65s;
    opacity: 1; }
  .features__card-hero [class^="icon-basic"]::before {
    font-size: 8rem;
    background-image: linear-gradient(to right, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.8));
    -webkit-background-clip: text;
    color: transparent; }
  .features__card-hero-caption {
    margin-top: 2rem;
    line-height: 1.2;
    position: relative; }
  .features__card .pseudo-class {
    width: inherit;
    height: inherit;
    padding: inherit; }
    .features__card .pseudo-class::after::after {
      content: "HELLO";
      display: block;
      width: 100%;
      height: 100%;
      background-color: black;
      position: absolute;
      top: 0;
      left: 0; }

.card-practice {
  display: block;
  padding-top: 25rem;
  text-align: center; }

.card__container {
  margin: 1rem;
  padding: 1rem 2rem;
  display: inline-block;
  min-width: 17.5rem;
  max-width: 25rem;
  min-height: 20rem;
  text-align: center;
  background-color: #fbfbfb;
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.25);
  position: relative; }
  .card__container-anim--rotate {
    transition: all .3s; }
    .card__container-anim--rotate:active {
      transform: rotateY(180deg); }
      .card__container-anim--rotate:active .icon-basic-world::before {
        display: none; }
      .card__container-anim--rotate:active .card__hero-text {
        display: inline-block; }
  .card__container-anim--materialFloat {
    animation-name: material_float;
    animation-timing-function: ease;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    backface-visibility: hidden; }
    .card__container-anim--materialFloat:hover .card__hero {
      transform: rotateY(180deg) translate(0, 8.5rem) scale(1.2); }

.card__hero .icon-basic-world::before {
  font-size: 5rem;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%); }

.card__hero-text {
  display: none;
  max-width: 30%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: rotateY(180deg) translate(-50%, -50%); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row:first-child {
    margin-top: 8rem; }
  .row .col:not(:last-child) {
    margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (6rem * 2)) / 3); }
  .row .col-2-of-3 {
    width: calc((2* (100% - (6rem * 2)) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - (6rem * 3)) / 4); }
  .row .col-2-of-4 {
    width: calc((2 * (100% - (6rem * 3)) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc((3 * (100% - (6rem * 3)) / 4) + (2* 6rem)); }

.header {
  height: 95vh;
  /* At every point make the
                header have a height of 95% of the viewport */
  background-image: linear-gradient(to bottom left, rgba(126, 213, 111, 0.7), 44%, rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
  z-index: 100;
  /* LOGO */ }
  .header__logo-box {
    position: absolute;
    top: 2%;
    left: 2%; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    /* background-color: red; */
    transform: translate(-50%, -50%);
    text-align: center; }

.about__button-container {
  height: inherit;
  padding: 0 3rem;
  margin: 1rem 0; }

.about__image-container {
  margin-top: -3rem;
  position: relative; }
  .about__image-container img {
    transition: all 0.3s; }
    .about__image-container img:hover {
      z-index: 3;
      padding: 0.8rem;
      border: 1.2rem solid #7ed56f;
      border-radius: 1.5px;
      transform: scale(1.3);
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4); }
  .about__image-container:hover img:not(:hover) {
    transform: scale(0.95); }

.about__image--1 {
  top: 500%;
  left: 20%;
  z-index: 3; }

.about__image--2 {
  top: 200%;
  left: 55%;
  z-index: 2; }

.about__image--3 {
  top: 70%;
  right: 40%;
  z-index: 1; }

.about-section {
  background-color: #ededed;
  margin-top: -20vh;
  padding: 25rem 0 19rem;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); }

.features-section {
  margin: -24vh auto 0;
  padding: 20rem 10rem 10rem;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat; }

@media (max-width: 900px) {
  body {
    padding: 1.5rem; }
  .header__text-box .heading-primary--sub {
    font-size: 1.3rem; }
  .about-section .heading-secondary {
    font-size: 2.25rem; }
  .about-section .row .col-1-of-2 {
    margin-right: 0; }
    .about-section .row .col-1-of-2 .text-block {
      padding: 1.5rem; }
  .about__image-container {
    text-align: center; }
    .about__image-container img {
      display: inline-block;
      max-width: 21.5rem;
      height: auto;
      position: static; }
      .about__image-container img:not(:last-child) {
        margin-bottom: 5rem; }
      .about__image-container img:first-child {
        margin-top: 1rem; }
      .about__image-container img:hover {
        padding: 0.3rem;
        border-width: 0.3rem;
        transform: scale(1.05); }
  .features-section {
    margin: -28vh auto;
    padding: 25rem 5rem 7rem; }
    .features-section .col-1-of-4 {
      width: calc((100% - 6rem) / 2); }
      .features-section .col-1-of-4:nth-of-type(2) {
        margin-right: 0; }
    .features-section .features__card {
      max-width: none; } }

@media (max-width: 500px) {
  body {
    padding: 0; }
  .headerheader__logo-box {
    top: 4%;
    left: 4%; }
    .headerheader__logo-box .header__logo {
      height: 2.5rem; }
  .header__text-box .heading-primary--main {
    font-size: 5rem;
    letter-spacing: 8px; }
  .header__text-box .heading-primary--sub {
    font-size: 1.7rem;
    letter-spacing: 6px; }
  .about-section .about__info {
    margin-top: -4rem; }
  .about-section .about__button-container {
    margin-left: -1.4rem; }
  __image-container {
    text-align: center; }
    __image-container img {
      display: inline-block;
      max-width: 14.5rem;
      height: auto;
      position: static; }
      __image-container img:hover {
        transform: scale(1.1); }
  .features-section {
    margin: -28vh auto;
    padding: 25rem 3rem 7rem; }
    .features-section .col-1-of-4 {
      width: 100%; }
    .features-section .features__card {
      max-width: none;
      display: block; }
      .features-section .features__card-hero {
        margin-top: 3rem; } }
